.body{
    margin:0px;
    padding:0px;
}
.search{
    border: 1px solid black;
    outline: none;
    
}
.search[placeholder]{
    padding-left: 5px;
    font-size:10px;
    padding-top:2px;
    padding-bottom:2px;

}
.video-grid{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    column-gap:12px;
    row-gap: 20px;
    margin-top:12px;
    row-gap:20px;


}

 .video-info-grid{
    display:grid;
    grid-template-columns: 30px 1fr;

}
.thumb-1{
    width:100%;
}
.cp-1{
    border-radius:100%;
    width:20px;

}

.video-title{
    margin-top:0px;
    font-size:16px;
}

.video-stats{
    color:gray;
    margin-top:0px;
}
.video-author{
    color:gray;
    margin-bottom:0px;
}

/* .channel-picture{

}
.video-info{
    display:inline-block;
} */

.header{
    display:flex;
    flex-direction:row;
    /* justify-content: space-between; */
    align-items: center;
    height:30px;
}
.left-header{
    background-color: aqua;
    width:150px;
   
}
.middle-header{
     flex:1;
     background-color:red;
}
.right-header{
    width:200px;
    background-color:blue;
}
