.body{
    margin:0px;
    
}
.search{
    border: 1px solid black;
    outline: none;
    height:15px;
    flex:1;
    max-width:200px;
    box-shadow:inset 1px 2px 3px rgba(0,0,0,0.05);
    border-radius:2px;
    
    
}
.search[placeholder]{
    padding-left: 5px;
    font-size:10px;
    padding-top:2px;
    padding-bottom:2px;

}
.video-grid{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    column-gap:12px;
    row-gap: 20px;
    margin-top:12px;
    row-gap:20px;
    padding-left:60px;


}


@media(max-width:750px){
    .video-grid{
        grid-template-columns:1fr 1fr;
    }
}


@media(min-width:751px) and (max-width:999px) {
      .video-grid{
        grid-template-columns:1fr 1fr 1fr;
    }
}

@media(min-width:100px) {
      .video-grid{
        grid-template-columns:1fr 1fr 1fr 1fr;
    }
}

 .video-info-grid{
    display:grid;
    grid-template-columns: 30px 1fr;

}
.thumbnail-row{
    position:relative;
}
.video-time{
    position:absolute;
    background-color:black;
    border-radius:2px;
    color:white;
    padding:1px;
    right:2px;
    font-size:10px;
    bottom:7px;
}
.thumb-1{
    width:100%;
}
.cp-1{
    border-radius:100%;
    width:20px;

}

.video-title{
    margin-top:0px;
    font-size:16px;
}

.video-stats{
    color:gray;
    margin-top:0px;
}
.video-author{
    color:gray;
    margin-bottom:0px;
}

/* .channel-picture{

}
.video-info{
    display:inline-block;
} */

.header{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    height:40px;
    position:fixed;
    top:0px;
    left:0px;
    right:0px;
    bottom:50px;
    background-color:rgb(255, 255, 255);
    border-bottom: 1px solid rgb(224, 224, 224);
    z-index:100;
  
}
.left-header{
   
     display:flex;
     align-items:center;
   
}
.middle-header{
     flex:1;
     margin-left: 70px;
     margin-right: 35px;
     max-width:500px;
     display:flex;
     align-items:center;
     
    
}
.right-header{
    width:100px;
    display:flex;
    align-items:center;
    justify-content: space-between;
    flex-shrink:0;
    
    
    
}

.hamburger{
    height:22px;
    margin-left:23px;
    margin-right:10px;
}
.youtube-logo{
    height:15px;
}
.search-voice{
    margin-left:5px;
    height:25px;
    width:25px;
    border:none;
    border-radius:100%;
    cursor:pointer;

}
.search-button{
    height:21px;
    width:30px;
    border:1px solid rgb(59, 56, 56);
    background-color:rgb(220, 224, 224);
    margin-left:-1px;
    
}

.search-button-icon{
    width:15px;
    height:18px;
}
.voice-search-icon{
    margin-top:3px;
}

.upload-icon{
      height:20px;
      width:20px;
      margin-left:-20px;
      cursor:pointer;
      
} 
.youtube-apps{
        height:20px;
        width:20px;
        cursor:pointer;
        
}
.notifications{
        height:20px;
        width:20px;
        cursor:pointer;
         
}
.notification-div{
    position:relative;
}
.notify-div{
    background-color:rgb(182, 25, 25);
    color:white;
    position:absolute;
    right:-1px;
    top:-1px;
    border-radius: 10px;
    font-size:8px;
    padding-left:3px;
    padding-right:3px;
    padding-top:1px;
    padding-bottom:1px;
    font-family: roboto, arial;
}
.channel-profile{
    height:22px;
    width:22px;
    border-radius:100%;
    margin-right:8px;
    cursor:pointer;

}

.sidebar{
    position:fixed;
    left:0;
    bottom:0;
    top:40px;
   width:60px;
   background-color:white;
   border-right: 1px solid rgb(212, 210, 210);

}
.sidebar{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:space-between;
    align-items: center;

}
.s:hover{
    background-color:lightgray;
}

.s img{
    height:20px;
    
}
